{% extends 'accounts/main.html' %}  {% comment %} inherting from the main  {% endcomment %}
{% block content %}

{% block styles %}
<style>
    {% comment %} header styles {% endcomment %}
    h1 {
        background-color: #8DD5FF;
        padding: 1rem;
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    {% comment %} inventory management styles {% endcomment %}
    h5{ font-size: 1.75rem;
        text-align: center;
    }
    {% comment %} card styles {% endcomment %}
    .card {
        background-color: #F9F3D6;
        border-radius: 0.25rem;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
      }
      
      .card-body {
        padding: 1.25rem;
      }
      
      .card-header {
        background-color: #F9F3D6;
        border-bottom: 1px solid #dee2e6;
        padding: 0.75rem 1.25rem;
      }
    {% comment %} add button styles {% endcomment %}
    a.btn-primary {
        background-color: #8DD5FF;
        border-color: #000000;
        color: #000000;
        font-size: 40px;
        font-weight: bold;
        padding: 20px 12px;
        text-decoration: none;
    }
    
    a.btn-primary: hover {
        background-color: #D3D3D3;
        border-color: #000000;
        color: #ffffff;
        text-decoration: none;
    }
    
    a.btn-block {
        display: block;
    }
    
    a.btn-sm {
        padding: 5px 10px;
        font-size: 17px;
        line-height: 1.5;
        border-radius: 3px;
    }
    {% comment %} update button styles {% endcomment %}
    a.btn-info {
        background-color: #8DD5FF;
        border-color: #000000;
        color: #000000;
        font-size: 17px;
        font-weight: bold;
        padding: 2px 3px;
        text-decoration: none;
    }
    
    a.btn-info: hover {
        background-color: #49a1d1;
        border-color: #000000;
        color: #ffffff;
        text-decoration: none;
    }

    {% comment %} delete button styles  {% endcomment %}
    a.btn-danger {
        background-color: #FF6961;
        border-color: #000000;
        color: #000000;
        font-size: 17px;
        font-weight: bold;
        padding: 2px 3px;
        text-decoration: none;
    }
    
    a.btn-danger: hover {
        background-color: #49a1d1;
        border-color: #000000;
        color: #ffffff;
        text-decoration: none;
    }
          
</style>
{% endblock %}

<h1> Lion Around Sewing</h1>


<div class="col-md-12">
    <h5> Inventory Management System</h5>
    <hr>
    <div class="card card-body">
        {% comment %} link to product_form.html {% endcomment %}
        <a class= "btn btn-primary btn-sm btn-block" href="{% url 'add_product'%}">Add Product</a>
        <table class = "table table-sm">
            <tr>
                <th>Product Name</th>
                <th>Product ID</th>
                <th>Product Type</th>
                <th>Cost</th>
                <th>Color</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>Update</th>
                <th>Remove</th>
            </tr>
            {% for product in products %}
                <tr>
                    <td>{{product.product_Name}}</td>
                    <td>{{product.id}}</td>
                    <td>{{product.product_Type}}</td>
                    <td>{{product.cost}}</td>
                    <td>{{product.color}}</td>
                    <td>{{product.size}}</td>
                    <td>{{product.quantity}}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'add_product' product.id%}">Update</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'delete_entry' product.id%}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{%endblock%}
