<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAS IMS</title>
    <link rel="stylesheet" type="text/css" href="css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css "/>
</head>
<body>
    <header>Lion Around Sewing</header>
    <nav>
        <ul>
            <li><a href="{% url 'dashboard_page' %}">Dashboard</a></li>
            <li><a href="{% url 'inventory_page' %}">Inventory</a></li>
            <li><a href="{% url 'products_page' %}">Products</a></li>
            <li><a href="{% url 'sales_page' %}">Sales</a></li>
        </ul>
    </nav>
<div class="input-wrapper">
    <div class="fa fa-search"></div>
    <input type="text" placeholder="Search"/>
    <div class="fa fa-times"></div>
</div>

<div class="dailySales"> Daily Sales
    <a href="#"></a>
</div>

<div class="weeklySales"> Weekly Sales
    <a href="#"></a>
</div>

<div class="monthlySales"> Monthly Sales
    <a href="#"></a>
</div>

<div class="yearlySales"> Yearly Sales
    <a href="#"></a>
</div>

<div class="dailySalesData">
    <a href="#"></a>
</div>

<div class="weeklySalesData">
    <a href="#"></a>
</div>

<div class="monthlySalesData">
    <a href="#"></a>
</div>

<div class="yearlySalesData">
    <a href="#"></a>
</div>

</body>
</html>